In [ ]:
import pandas as pd
import numpy as np 
import os 
import sqlalchemy
from collections import defaultdict
import data

In [ ]:
SERVER='Server_name'
DB='SandBox_DB'
DRIVER='ODBC+Driver+13+for+SQL+Server'

In [ ]:
df = pd.read_csv(r'path_to_csv.scv',
                sep='|', error_bad_lines=False, encoding='UTF-8') 

# encoding='UTF-8' 'cp1251' 'cp1252'
# lineterminator='\r'

In [ ]:
df = pd.read_parquet(r'path_to_parquet', engine='pyarrow')
# engine='pyarrow' 'fastparquet'

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df.head(5)

In [ ]:
cols = df.colums

In [ ]:
cols  #['123','456','789']

In [ ]:
df_1.columns = ['123','456','789']

In [ ]:
df_1 = df_1[df_1['123'].notna()]  # убирает все строки где полк '123' NULL

In [ ]:
prometheus_con = sqlacemy.create_engine('mssql+pyodbc://@'+SERVER+'/'+DB+'?trusted_connection=yes&driver='+DRIVER)

In [ ]:
%%time
df_1.to_sql('ms_sql_table_name', con=prometheus_con, schema='jal', method='multi',
           chunksize=50, if_exists='append', index=False)
#if_exists='append' 'replace'