In [ ]:
import pandas as pd
import numpy as np 
import os 
import sqlalchemy
from collections import defaultdict
import data
import pyodbc
import re

In [ ]:
SERVER='Server_name'
DB='SandBox_DB'
DRIVER='ODBC+Driver+13+for+SQL+Server'

In [ ]:
prometheus_con = sqlacemy.create_engine('mssql+pyodbc://@'+SERVER+'/'+DB+'?trusted_connection=yes&driver='+DRIVER)

In [ ]:
query = "SELECT * FROM [SanBox_DB].[Schema].[table_name] WHERE 1=1 AND [DATE] BETWEEN '2021-01-01' AND '2022-01-01';"

In [ ]:
col = ['123',
       '456',
       '789']

In [ ]:
%%time
df = pdDataFrame(prometheus_con.execute(query).fetchall(), column = col)

In [ ]:
df.head(5)

In [ ]:
df

In [ ]:
%%time
df.to_csv(r'parh_to_csv',
          sep='|', encodng='utf-8', index=False, chunksize=50)

In [ ]:
%%time
df = df.replace(r'\x00', '', regex=True)

In [ ]:
df.head(5)

In [ ]:
%%time
df.to_sql('ms_sql_table_name', con=prometheus_con, schema='jal', method='multi',
           chunksize=50, if_exists='append', index=False)
#if_exists='append' 'replace'